# Environments
.env
.venv
env/
venv/

# All folders and files starting with "test_"
test_*/
test_*

# Specific Directories
diffusers/
peft/
Data/
Experiment/
__pycache__

# Specific Files
config.json
Note.md
classify_image_graph_def.pb.tmp
classify_image_graph_def.pb